Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Demonstrate use of markdown to create tables and lists  
- Evaluate arithmetic expressions using Python code  
- Convert time units (e.g., minutes to hours) with simple calculations

Some of the popular languages that Data Scientists use are: 

1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Data Science Tools  |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

In [18]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [19]:
#This a simple arithmetic expression to mutiply then add integers

In [20]:
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60

In [22]:
200/60

3.3333333333333335

## Author

Muhammad Aqbala Nur Mustofa Manaf